@page
@model SiliconPower.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<div class="d-flex h-300 text-center">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h6>Hi! I'm Federico Fernández Domínguez, and I really had fun in this project!</h6>
        <p>
            My Contact Information: <br />
            (+34)682 814 925<br />
            <a href="mailto:freddofernandez@gmail.com">freddofernandez@gmail.com</a><br />
            <a class="btn-link" href="https://www.linkedin.com/in/fedefernandezdominguez/">Linkedin</a>
        </p>
    </div>
</div>