@page
@model SiliconPower.Pages.LogoutModel
@{
}

<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center align-content-center">
            <div class="col-sm-12 col-md-12 col-md-4">
                <p>Are you really sure you want to leave?</p>
                <p>
                    <button class="btn btn-primary" asp-page-handler="Logout">Yup</button>
                    <button class="btn btn-light ml-5 border-dark" asp-page-handler="DontLogout">No!</button>
                </p>
            </div>
        </div>
    </div>
</form>